
@{
    ViewBag.Title = "ThankYou";
}

<h2>Dziękujemy za przesłanie zgłoszenia! </h2>
<p>
    <h4>
        <br />Twoje zgłoszenie oczekuje na akceptację administratora.
        <br />Poinformujemy Cię, gdy proces zostanie zakończony.
    </h4>
</p>
