@{
    ViewBag.Title = "O nas";
}
    <img src="~/img/vh_zupa.jpg" height="150" width="200" class="img-responsive center-block" img style="float: left; margin: 0px 15px 15px 0px;" />
    <h4> Wojciech Guzik, 29 lat</h4>
    Redaktor i administrator strony internetowej StrengthCraft. Ogromny wielbiciel nieszablonowej lektury i twórca słowa pisanego. Pasjonat historii jak i pieszych wędrówek górskich. Prywatnie inżynier budownictwa, który właśnie zaczyna nową ścieżkę kariery w IT. Ma kota (albo na odwrót).<br /><br />
    <h4>Piotr Precz, 29 lat</h4>
    W Ekipie StrengthCraft zajmuje się produkcją, montażem, a także kontaktem z szeroko pojętym community. Uprawia wiele dyscyplin sportowych, takich jak biegi przełajowe, treningi siłowe czy długodystansowa jazda na rowerze, które przydatne są w jego pracy jako stróż prawa. Policjant z wyboru, który łamie stereotypy związane z tym zawodem.<br /><br />
    <img src="~/img/never.jpg" height="150" width="200" class="img-responsive center-block" img style="float: left; margin: 0px 15px 15px 0px;" />
    <h4>Tomasz Kurowski, 26 lat</h4>
    Osoba odpowiedzialna za kontakty z otoczeniem i promocję projektu. Pełni także rolę redaktora. Jego ulubionymi sportami jest trójbój siłowy, koszykówka i wyścigi motocyklowe. Aktualnie treningi traktuje rekreacyjnie oddając się innym dziedzinom jak finanse, prowadzenie szkoleń czy szlifowanie jazdy na motocyklu. Entuzjasta ekonomii oraz poszerzania wiedzy z języka angielskiego. Prowadzi blog ekonomiczny i wykłady dla młodzieży z tej tematyki.<br /><br /><br />
<img src="~/img/zunharal.jpg" height="150" width="200" class="img-responsive center-block" img style="float: left; margin: 0px 15px 15px 0px;" />
    <h4>Krzysztof Kaczmarek, 29 lat</h4>
    Osoba odpowiedzialna w naszej ekipie za weryfikację treningów pod kątem poprawności i złożoności. Akademicki mistrz polski w trójboju siłowym za rok 2015 w kategorii 83 kilogramy. Osiągnął imponujący wynik całkowity – 666 kilogramów. Akademicki rekordzista polski w martwym ciągu i tzw. „total” w swojej kategorii. Aktualnie zajmuje się zarządzaniem siłownią Proces, która jest jednym z partnerów naszego projektu.<br /><br />
<img src="~/img/spetzu.jpg" height="150" width="200" class="img-responsive center-block" img style="float: left; margin: 0px 15px 15px 0px;" />
    <h4>Piotr Gankiewicz, 26 lat</h4>
    W StrengthCraft jego rola to utrzymanie projektu w ryzach od strony IT, niewiele wiemy o jego prawdziwych umiejętnościach ponieważ mało osób rozumie jego pracę. Bardzo dużo czasu spędza przy komputerze czego efektem jest między innymi aplikacja treningowa 42.do. Laureat konkursu Daj Się Poznać. Wielki fan sportu od najmłodszych lat, czynnie zajmuje się treningiem siłowym, interwałami jak i brazylijskim jiujitsu. Po godzinach bloger, mówca IT i motocyklista.
