@{
    ViewBag.Title = "Współpraca";
}
<h2>@ViewBag.Title</h2>

<p>
      Jesteśmy otwarci na wszelkiego rodzaju współpracę. <BR />Uprzejmie informujemy, że jesteśmy bardzo wybredni w kwestii promowania odżywek dla sportowców i szczególnie nieufni w kwestii nowości.<br />
</p>

<h3>Partnerzy</h3>
<strong><a href="https://www.facebook.com/ostrowsilownia/" target="_blank">Siłownia Proces</a></strong> - siłownia w Ostrowcu <i>tbd</i><br /><br />

<strong><a href="http://www.42.do/" target="_blank">42.do</a></strong> - aplikacja mobilna do zapisywania postępów treningowych <br /><br />
<strong><a href="http://forum.koxteam.pl/" target="_blank">Forum Koxteam</a></strong> - forum internetowe poświęcone sportom siłowym<br />
