@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Masz pytania?<BR />
    Masz uwagi?<BR />
    Chcesz współpracować?<BR />
    Chcesz poderwać Komisarza Zupę?<BR />
    <strong>Kontakt:</strong>   <a href="mailto:kontakt@strengthcraft.pl">kontakt@strengthcraft.pl</a><br />
</address>