@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Masz pytania, uwagi, propozycje?<BR />
    Chcesz pomóc lub potrzebujesz pomocy i nie znalazłeś odpowiedzi w <u>@Html.ActionLink("Regulaminie", "Regulations", "Home")</u> lub w <u>@Html.ActionLink("Pomocy", "Help", "Home")</u>?<br />
Napisz do nas:<br /> <u><a href="mailto:kontakt@strengthcraft.pl">kontakt@strengthcraft.pl</a></u><br /><br />
</address>