@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Masz pytania, uwagi, propozycje?<BR />
    Chcesz pomóc lub potrzebujesz pomocy i nie znalazłeś odpowiedzi w 
Napisz do nas:<br />
    <strong>Kontakt:</strong>   <u><a href="mailto:kontakt@strengthcraft.pl">kontakt@strengthcraft.pl</a></u><br /><br />
</address>