@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Masz pytania, uwagi, propozycje?<BR />
    Chcesz pomóc lub potrzebujesz pomocy i nie znalazłeś odpowiedzi w <u>@Html.ActionLink("Regulaminie", "Regulations", "Home")</u>, <u>@Html.ActionLink("Pomocy", "Help", "Home")</u> lub na <a href="https://forum.koxteam.pl/viewforum.php?f=23" target="_blank" style="text-decoration: underline">forum</a>?<br />
Napisz do nas:<br /> <u><a href="mailto:kontakt@strengthcraft.pl">kontakt@strengthcraft.pl</a></u><br /><br />
</address>

