@{
    ViewBag.Title = "Pomoc";
}

<h3>Pomoc</h3>
<a href="#filmNaYT" data-toggle="collapse" class="btn btn-primary btn-block btn-primary">Przesyłanie filmu na Youtube</a>

<div id="filmNaYT" class="collapse">
    <h4>Przesłanie filmu z komputera lub telefonu</h4>
    Szczegółowe informacje znajdziesz tutaj: <a href="https://support.google.com/youtube/answer/57407?hl=pl" target="_blank" style="text-decoration: underline">Przesyłanie filmów</a>. Artykuł opisuje umieszczanie filmów za pomocą komputera oraz smartfonów i tabletów z systemami Android oraz iOS.
    <br /><br />
    <h4>Ustawienie prywatności</h4>
    Jeżeli nie chcesz, aby film był dostępny dla wszystkich użytkowników internetu, w trakcie przesyłania wybierz ustawienie prywatności: "Niepubliczny", dzieki temu materiał będzie dostępny dla osób posiadających link (czyli np. organizatorów).<br /><br />
    <img src="~/img/YT_prywatnosc.png" class="img-responsive center-block" />
</div>
<br />
<a href="#jakCwiczyc" data-toggle="collapse" class="btn btn-primary btn-block btn-primary">Jak trenować</a>

<div id="jakCwiczyc" class="collapse">
    <h4>Skąd czerpać wiedzę?</h4>
    Osobiście polecamy <a href="http://forum.koxteam.pl" target="_blank">forum.koxteam.pl</a>. Wiem, że może Ci być trudno się tam odnaleźć.<br /><br />

    Na Youtube polecamy:<br />
    <a href="https://www.youtube.com/user/athrall7" target="_blank">Alan Thrall</a><br />
    <a href="https://www.youtube.com/user/OmarIsuf" target="_blank">Omar Isuf</a><br />
    <a href="https://www.youtube.com/user/ScottHermanFitness" target="_blank">Scott Herman</a><br />
    Jeżeli koniecznie po polsku, to: <br />
    <a href="https://www.youtube.com/user/WarszawskiKoks" target="_blank">Warszawski Koks</a> też daje radę.

</div>

