@{
    ViewBag.Title = "StrengthCraft";
}

<div class="row">
    <aside class="col-sm-3">

        <img src="~/img/logo_main.png" height="150" width="150" class="img-responsive center-block" />
        <br />
        <h3 class="text-center">StrengthCraft</h3>
        <h4 class="text-center">Challenge #1</h4>
<div class="text-center">
     <strong>Koniec zgłoszeń</strong><br />
     31.10.2016<br />
     <strong><a href="#" class="btn btn-primary" disabled>Zapisz się!</a></strong><br /><br />
     <strong>Kategoria OPEN</strong><BR />
     20x przysiad tylny  -  150% wagi ciała <BR />
     20x podciąganie nachwytem - waga ciała<BR />
     25x dipsy - waga ciała<BR />
     10x martwy ciąg -  200% wagi ciała<BR />
     <BR />
     <strong>Kategoria ROOKIE</strong><BR />
     15x przysiad tylny - 100% wagi ciała<BR />
     10x podciąganie nachwytem - waga ciała<BR />
     15x dipsy - waga ciała<BR />
     10x martwy ciąg - 150% wagi ciała<BR />
</div>

    </aside>
        <section class="col-sm-7">
            <h2>Sprawdź się!</h2>
            <p>
                StrengthCraft jest inspirowany NW Challenge oraz Strength Wars - zmaganiami osób związanych ze sportami siłowymi. Ideą jest zestawienie niejako przeciwnych sobie dyscyplin jak np. street workout i kulturystka. Zawodnicy startują w kilku konkurencjach wymagających dużej siły i wytrzymałości. StrengthCraft w swym założeniu nie ma być konkurencją dla Strength Wars lub Crossfit Games. StrengthCraft ma na celu promować sportową rywalizację, a także poszczególnych zawodników - ludzi silnych, sprawnych, pewnych siebie i swoich umiejętności.

            </p><br /><br />
        </section>
</div>