@{
    ViewBag.Title = "StrengthCraft";
}

            <h2>Sprawdź się!</h2>
<p align="center">
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dUvnQ04rO_A"></iframe>
    </div>
            <p>
                <strong>StrengthCraft</strong> jest inspirowany NW Challenge oraz Strength Wars - zmaganiami osób związanych ze sportami siłowymi. <Br />StrengthCraft w swym założeniu nie ma być konkurencją dla Strength Wars lub Crossfit Games. Chcemy promować sportową rywalizację, a także zawodników - ludzi silnych, sprawnych, pewnych siebie i swoich umiejętności.

            </p>
<h3>Kto może wziąć udział?</h3>
<p>
    Każdy, kto ma skończone osiemnaście lat i dostęp do siłowni.
</p>

<h3>Jak się zapisać?</h3>
<p>
    Należy nagrać swój start i w terminie do 13.11 (niedziela) zgłosić swój udział za pomocą <a href="https://docs.google.com/forms/d/e/1FAIpQLSeECpBOKOfP6YzzEb1ZtFRDYiFKbXCcEaBra4xHaRC8ebcvVQ/viewform" target="_blank">formularza</a>.<br />

</p>
