@{
    ViewBag.Title = "Regulamin";
}
<h2>@ViewBag.Title</h2>

<p>

    <a href="#Zapisy" style="text-decoration: underline">1. Zapisy</a> <br />
    <a href="#Terminy" style="text-decoration: underline">2. Terminy</a> <br />
    <a href="#Konkurencje" style="text-decoration: underline">3. Konkurencje</a><br />
    <a href="#Zasady" style="text-decoration: underline">4. Zasady</a><br />
    <a href="#Technika" style="text-decoration: underline">5. Technika</a><br />
    <a href="#Zwyciezcy" style="text-decoration: underline">6. Wyłonienie zwycięzców</a><br />
</p>

<p>

    <h3 id="Zapisy">1. Zapisy</h3>
    Aby wziąć udział w StrengthCraft Challenge#1 należy:<br />
    <ul>
        <li>Polubić <a href="https://www.facebook.com/StrengthCraft/?fref=ts" target="_blank">fanpage StrengthCraft</a> na Facebooku.</li>
        <li>
            Zasubskrybować <a href="https://www.youtube.com/channel/UCUWg23LEAyNWyZU3fMy-X8Q" target="_blank">kanał StrengthCraft</a> na YouTube.
        </li>
        <li>
            Wypełnić formularz:
            <br />
            <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSeECpBOKOfP6YzzEb1ZtFRDYiFKbXCcEaBra4xHaRC8ebcvVQ/viewform" class="btn btn-primary">Zapisy</a></strong>
        </li>

    </ul>
    Wziąć udział w StrengthCraft Challenge może wziąć udział każdy <strong>pełnoletni</strong> chętny.<br /><br />

    <b>Zapisanie się jest równoznaczne z wysłaniem filmu ze startem.</b> W praktyce oznacza to, że można się zgłosić ostatniego dnia.<br /><br />

    W przypadku skutecznej próby poprawienia wyniku można się zgłosić ponownie, należy pamiętać o wykorzystaniu tego samego adresu e-mail.

    <h3 id="Terminy">2. Terminy</h3>
    Termin nadsyłania zgłoszeń upływa z dniem 13 listopada o północy.<br />
    Po upływie terminu nadsyłania filmów wyniki zostaną ogłoszone w terminie do 5 dni.<br />

    <h3 id="Konkurencje">3. Konkurencje i kategorie wagowe</h3>
    <h4>3.1 Konkurencje</h4>
    <h4>Kategoria MASTERS</h4>
    20x przysiad - ciężar wg kat. wagowej<br />
    20x podciąganie nachwytem - waga ciała<br />
    25x dipsy - waga ciała<br />
    10x martwy ciąg - ciężar wg kat. wagowej<br /><br />

    <h4>Kategoria OPEN</h4>
    15x przysiad - ciężar wg kat. wagowej<br />
    10x podciąganie nachwytem - waga ciała<br />
    15x dipsy - waga ciała<br />
    10x martwy ciąg - ciężar wg kat. wagowej<br />
    <br />

    <h4>Kategoria WOMEN</h4>
    10x przysiad  - 100 % wagi ciała<br />
    10x martwy ciąg - 125 % wagi ciała<br />
    10x wyciskanie leżąc - 50% wagi ciała<br />

    <i>Wagę można zaokrąglać w dół do 2,5 kg.</i><br /><br />
    <h4>Przykład</h4>
    <i>Katarzyna waży 54 kilogramy. Spogląda na powyższy opis i szybko liczy, że przyjdzie jej robić przysiady z cieżarem min. 52,5 kg, martwy ciąg 67,5 kg i wyciskanie leżąc min. 25 kg .</i><br /><br />
    <br />

    <h4>3.2 Kategorie wagowe</h4>
    <h4 style="text-align: center">Kategoria MASTERS</h4>
    <table class="table table-hover" style="font-size: 15px; text-align: center">
        <thead style="font-size: 15px; text-align: center">
            <tr>
                <th style="font-size: 15px; text-align: center">Kategoria wagowa [kg]</th>
                <th style="font-size: 15px; text-align: center">Przysiad [kg]</th>
                <th style="font-size: 15px; text-align: center">Martwy ciąg [kg]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>do 59</td>
                <td>90</td>
                <td>120</td>
            </tr>
            <tr>
                <td>do 66</td>
                <td>100</td>
                <td>130</td>
            </tr>
            <tr>
                <td>do 74</td>
                <td>110</td>
                <td>145</td>
            </tr>
            <tr>
                <td>do 83</td>
                <td>120</td>
                <td>160</td>
            </tr>
            <tr>
                <td>do 93</td>
                <td>125</td>
                <td>170</td>
            </tr>
            <tr>
                <td>do 105</td>
                <td>135</td>
                <td>180</td>
            </tr>
            <tr>
                <td>do 120</td>
                <td>140</td>
                <td>185</td>
            </tr>
            <tr>
                <td>ponad 120</td>
                <td>145</td>
                <td>190</td>
            </tr>
        </tbody>
    </table><br />
    <h4 style="text-align: center">Kategoria OPEN</h4>
    <table class="table table-hover" style="font-size: 15px; text-align: center">
        <thead>
            <tr>
                <th style="font-size: 15px; text-align: center">Kategoria wagowa [kg]</th>
                <th style="font-size: 15px; text-align: center">Przysiad [kg]</th>
                <th style="font-size: 15px; text-align: center">Martwy ciąg [kg]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>do 59</td>
                <td>60</td>
                <td>90</td>
            </tr>
            <tr>
                <td>do 66</td>
                <td>65</td>
                <td>100</td>
            </tr>
            <tr>
                <td>do 74</td>
                <td>70</td>
                <td>110</td>
            </tr>
            <tr>
                <td>do 83</td>
                <td>80</td>
                <td>120</td>
            </tr>
            <tr>
                <td>do 93</td>
                <td>90</td>
                <td>125</td>
            </tr>
            <tr>
                <td>do 105</td>
                <td>100</td>
                <td>135</td>
            </tr>
            <tr>
                <td>do 120</td>
                <td>110</td>
                <td>140</td>
            </tr>
            <tr>
                <td>ponad 120</td>
                <td>120</td>
                <td>145</td>
            </tr>
        </tbody>
    </table>
    <h4>Przykład</h4>
    <i>Grzegorz waży 84 kilogramy i ćwiczy raczej amatorsko. Spogląda w tabelę OPEN i widzi, że jego waga jest większa niż <strong>83 kg</strong>, ale mniejsza od <strong>93 kg</strong>, oznacza to, że przyjdzie mu wykonywać Challenge z 90kg w przysiadzie i 120 kg w martwym ciągu.</i><br /><br />

    <h4>Uwaga</h4>
    Wprowadzenie kategorii wagowych ma na celu wprowadzenie pierwiastka sprawiedliwości. Nie będziemy wyłaniać zwycięzców poszczególnych różnych kategorii wagowych.<br /><br />

    Kategorie wagowe powstały w oparciu o regulamin International Powerlifting Federation.<br />
    Ciężar dla danej kategorii został wyznaczony z wykorzystaniem <a href="https://en.wikipedia.org/wiki/Wilks_Coefficient" target="_blank">Wilksa</a>.
    <BR />Wartości referencyjne:<br />
    -MASTERS: przysiad - 82, martwy ciąg - 109<br />
    -OPEN: przysiad - 54, martwy ciąg - 82
    <h3 id="Zasady">4. Zasady</h3>
    <h4>4.0 Fair play i dobra zabawa</h4>
    W pierwszej kolejności miejcie na uwadze, że jest to zabawa.
    <h4>4.1 Podejście do ćwiczeń</h4>
    Czynnikiem decydującym o zwycięstwie jest czas ukończenia wszystkich konkurencji.<br />
    Konkurencje należy wykonać w kolejności podanej przez organizatora.<br />
    Jakość powtórzeń musi być zgodna z punktem <a href="#Technika">5. Technika ćwiczeń</a><br />
    Podejście do boju można podzielić na kilka serii.<br />
    Magnezja jest dozwolona.<br />
    Sprzęt typu pas, taśmy na kolana i paski są zabronione (np. do martwego ciągu). <br />
    <h4>4.2 Waga startowa</h4>
    Zawody są formą zabawy, wobec czego przyjmujemy informację o wadze na wiarę.<br /><br />

    <h4>4.3 Film</h4>
    Film z wykonanego startu musi być bez cięć między seriami i potwórzeniami.<br />
    Tytuł filmu powinien być być wyglądać następująco:<br />
    <i>StrengthCraft Challenge #[x] Imię Nazwisko, Waga, Kategoria</i><br />
    np. StrengthCraft Challenge #1 Jan Kowalski, 85 kg, Open<br /><br />
    Manipulacja prędkością filmu jest niedozwolona.<br /><br />
    Efekty typu napisy lub muzyka są dopuszczalne.<br /><br />
    <h4>4.4 Konflikty oraz zagadnienia nieujęte w Regulaminie</h4>
    Wszelkie konflikty i niejasności będą rozwiązywane przez Organizatorów.<br />

    <h3 id="Technika">5. Technika ćwiczeń</h3>

    <strong>Przysiad</strong><br />Powtórzenie zaczyna się ze sztangą na plecach, polega na zejściu na maksymalną głębokość i wyjściu z przysiadu do pełnego wyprostu stawów kolanowych i biodrowego. Przy zejściu linia bioder musi przekroczyć linię kolan.<br /><br />
    <strong>Podciąganie nachwytem</strong><br />Powtórzenie zaczyna się od pełnego zwisu z wyprostowanymi stawami łokciowymi i polega na podciągnięciu się do wysokości, w której broda znajdzie się nad drążkiem, kończy się opuszczeniem do pełnego wyprostu w stawach łokciowych. Obowiązuje wersja ‘strict’, techniki ‘butterfly’ oraz ‘kipping’ nie są dozwolone.<br /><br />
    <strong>Dipsy (pompki na poręczach)</strong><br />Powtórzenie rozpoczyna się od podparcia się na poręczach, polega na opuszczeniu się i wyjściu z pompki do pełnego wyprostu w stawach łokciowych. Przy opuszczaniu się linia barków powinna przekroczyć linię łokci.<br /><br />
    <strong>Martwy ciąg</strong><br />Powtórzenie zaczyna się, gdy sztanga jest na ziemi, a kończy gdy uczestnik uzyska pozycję wyprostowaną. Po każdym powtórzeniu sztanga musi dotknąć ziemi. Odbijanie sztangi jest zabronione.<br /><br />
    <strong>Wyciskanie leżąc</strong><br />Powtórzenie polega na opuszczeniu sztagi na klatkę piersiową i wyciśnięciu jej do góry do wyprostu ramion. Pośladki muszą dotykać ławki. Stopy muszą dotykać podłoża.<br /><br />
    Wszelkie niejasności rozwiązywane będą przez organizatorów. W razie wątpliwości prosimy o kontakt mailowy.

    <h3 id="Zwyciezcy">6. Wyłonienie zwycięzcy</h3>
    Dwóch najlepszych zawodników z kategorii Masters zmierzy się ze sobą w odcinku  specjalnym, który zostanie nagrany na żywo i udostępniony w formie materiału wideo na oficjalnym kanale StrengthCraft. Zwycięzca tego pojedynku zostanie ‘King of The Hill’ StrengthCraft i pozostanie nim tak długo, aż nie zostanie pokonany w którymś z kolejnych odcinków na żywo.

</p>
