@{
    ViewBag.Title = "Regulamin";
}
<h2>@ViewBag.Title</h2>

<p>

    <h3>1. Zapisy</h3>
    Aby wziąć udział w StrengthCraft Challenge#1 należy:<br />
    Polubić Fanpage StrengthCraft na Facebooku.<br />
    Zasubskrybować kanał StrengthCraft na YouTube.<br />
    Wypełnić formularz:
    <strong><a href="#" class="btn btn-primary">Zapisz się!</a></strong><br /><br />
    <br />
    Wziąć udział w StrengthCraft Challenge#1 może wziąć udział każdy <strong>pełnoletni</strong> chętny.<br />

    <h3>2. Terminy</h3>
    Termin nadsyłania zgłoszeń upływa z dniem 31 października o północy.<br />
    Po upływie terminu nadsyłania filmów wyniki zostaną ogłoszone w terminie do 5 dni.<br />

    <h3>3. Konkurencje</h3>

    <h4>Kategoria OPEN:</h4>
    20x przysiad tylny  -  150% wagi ciała<br />
    20x podciąganie nachwytem - waga ciała<br />
    25x dipsy - waga ciała<br />
    10x martwy ciąg -  200% wagi ciała<br />

    <h4>Kategoria ROOKIE:</h4>
    15x przysiad tylny - 100% wagi ciała<br />
    10x podciąganie nachwytem - waga ciała<br />
    15x dipsy - waga ciała<br />
    10x martwy ciąg - 150% wagi ciała<br />

    <h3>4. Zasady</h3>
    Czynnikiem decydującym o zwycięstwie będzie czas ukończenia wszystkich konkurencji.<br />
    Konkurencje należy wykonać w kolejności w podanej przez organizatora kolejności.<br />
    Jakość powtórzeń musi być zgodna z punktem <strong>5. Technika ćwiczeń</strong><br />
    Film z wykonanego startu musi być bez cięć.<br />
    Wszelkie konflikty i niejasności będą rozwiązywane przez organizatorów.<br />

    <h3>5. Technika ćwiczeń</h3>

    <strong>Przysiad tylny</strong><br />powtórzenie zaczyna się ze sztangą na plecach, polega na zejściu na maksymalną głębokość i wyjściu z przysiadu do pełnego wyprostu stawów kolanowych i biodrowego. Przy zejściu linia bioder musi przekroczyć linię kolan.<br /><br />
    <strong>Podciąganie nachwytem</strong><br />powtórzenie zaczyna się od pełnego zwisu z wyprostowanymi stawami łokciowymi i polega na podciągnięciu się do wysokości, w której broda znajdzie się nad drążkiem, kończy się opuszczeniem do pełnego wyprostu w stawach łokciowych. Obowiązuje wersja ‘strict’, techniki ‘butterfly’ oraz ‘kipping’ nie są dozwolone.<br /><br />
    <strong>Dipsy (pompki na poręczach)</strong><br /> powtórzenie rozpoczyna się od podparcia się na poręczach, polega na opuszczeniu się i wyjściu z pompki do pełnego wyprostu w stawach łokciowych. Przy opuszczaniu się linia barków powinna przekroczyć linię łokci.<br /><br />
    <strong>Martwy ciąg</strong><br /> powtórzenie zaczyna się, gdy sztanga jest na ziemi, a kończy gdy uczestnik uzyska pozycję wyprostowaną. Po każdym powtórzeniu sztanga musi dotknąć ziemi. Odbijanie sztangi jest zabronione.
    Wszelkie niejasności rozwiązywane będą przez organizatorów. W razie wątpliwości prosimy o kontakt mailowy.

    <h3>6. King of the Hill</h3>
    Dwóch najlepszych zawodników z kategorii Open zmierzy się ze sobą w odcinku  specjalnym, który zostanie nagrany na żywo i udostępniony w formie materiału wideo na oficjalnym kanale StrengthCraft. Zwycięzca tego pojedynku zostanie ‘King of The Hill’ StrengthCraft i pozostanie nim tak długo, aż nie zostanie pokonany w którymś z kolejnych odcinków na żywo.

</p>
